    <ng-template #loading>
        <div class="alert alert-info text-center">
            Cargando...
        </div>
    </ng-template>



<div *ngIf="country; else loading">
    <div class="row">
        <div class="col-12">
            <h2>País: <strong>{{country.name.common }}</strong></h2>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <h2>Bandera</h2>
            <img [src]="country.flags.svg" alt="Bandera" class="img-thumbnail">
        </div>
        <div class="col">
            <h2>Información </h2>
            <ul class="list-group">
                <li class="list-group-item"> <strong>Population: </strong>{{country.population}}</li>
                <li class="list-group-item"> <strong>Capital: </strong>{{country.capital}}</li>
                <li class="list-group-item"> <strong>Código: </strong>{{country.cca3}}</li>
            </ul>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h3>Traducciones</h3>
            <div class="d-flex flex-wrap">
                <span class="badge bg-primary m-1">{{country.translations['ara'].official}}</span>
                <span class="badge bg-primary m-1">{{country.translations['fra'].official}}</span>
                <span class="badge bg-primary m-1">{{country.translations['ita'].official}}</span>
                <span class="badge bg-primary m-1">{{country.translations['por'].official}}</span>
                <span class="badge bg-primary m-1">{{country.translations['rus'].official}}</span>
                <span class="badge bg-primary m-1">{{country.translations['spa'].official}}</span>



            </div>
        </div>
    </div>
</div>


