<div *ngIf="countries.length === 0 && !stateFlag; else warning" class="alert alert-warning text-center mt-4">No hay paises que mostrar</div>
<ng-template #warning>
    <div *ngIf="stateFlag && countries.length === 0; else table" class="alert alert-danger text-center mt-4">No se encontró el país que buscas</div>
</ng-template>

<ng-template #table>
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th>#</th>
                <th>Icono</th>
                <th>Bandera</th>
                <th>País</th>
                <th>Capital</th>
                <th>Population</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; let i = index;">
                <td>{{i + 1}}</td>
                <td>{{country.flag}}</td>
                <td><img [src]="country.flags.svg" alt="Bandera"></td>
                <td>{{country.translations['spa'].common}}</td>
                <td>{{country.capital}}</td>
                <td>{{country.population | number}}</td>
                <td><a [routerLink]="'/countries/by/' + country.cca3">Ver más</a></td>
            </tr>
        </tbody>
    </table>
</ng-template>